.env
.env.local
.env.production
*.pyc
__pycache__/
venv/
env/
uploads/
*.log
.DS_Store
node_modules/
frontend/node_modules/
backend/instance/org_visualizer.db
backend/.env
frontend/.env
/frontend/dist
/.idea
